.card {
    color: #efefef;
    width: 350px;
    background-color: #212529 !important;
    /* background-color: #efefef; */
    border: none;
    cursor: pointer;
    transition: all 0.5s;
  }

  .image img {
    transition: all 0.5s;
  }

  /* .card:hover .image img {
    transform: scale(1.5);
  } */

  .btn {
    height: 140px;
    width: 140px;
    border-radius: 50%;
  }

  .name {
    font-size: 22px;
    font-weight: bold;
  }

  .idd {
    font-size: 14px;
    font-weight: 600;
  }

  .idd1 {
    font-size: 12px;
  }

  .number {
    font-size: 22px;
    font-weight: bold;
  }

  .follow {
    font-size: 12px;
    font-weight: 500;
    color: #efefef;
  }

  .btn1 {
    height: 40px;
    width: 150px;
    border: none;
    color: #000;
    background-color: #aeaeae;
    font-size: 15px;
    border-radius: 5px;
  }

  .text span {
    font-size: 13px;
    color: #efefef;
    font-weight: 500;
  }

  .icons i {
    font-size: 19px;
  }

  hr .new1 {
    border: 1px solid;
  }

  .join {
    font-size: 14px;
    color: #212529;
    font-weight: bold;
  }

  .date {
    background-color: #efefef;
  }